@use 'variables' as *;

body {
    font-family: $font-inter;
    font-size: $font-size-body;
    line-height: $line-height-body;
    color: $color-text-heading;
}

h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    line-height: $line-height-tight;
    font-weight: $font-weight-bold;
}

h2 {
    font-size: clamp(1.75rem, 3vw, 2.25rem);
    line-height: $line-height-tight;
    font-weight: $font-weight-bold;
}

h3 {
    font-size: 1.25rem;
    line-height: $line-height-tight;
    font-weight: $font-weight-bold;
}

p {
    line-height: $line-height-body;
    color: $color-text-sub;
}

h1,
h2,
h3 {
    text-wrap: balance;
}

p + p {
    margin-top: 1em;
}